*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.nav_menu {
    margin-top: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
.menu_li {
    display: inline-block;    
}
.menu_a {
    text-decoration: none;
    color: rgb(155, 58, 58);
    margin-right: 25px;
    margin-left: 25px;
}
.line {
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
    height: 2px;
    background-color: rgb(155, 58, 58); 
}
.container {
    margin-top: 25px;
    padding-bottom: 50px;
    width: 40%;
    height: auto;
    margin-left: 30%;
    background-color: rgb(229, 229, 194);
    text-align: center;
}
h1 {
    padding-top: 30px;
    color: rgba(155, 58, 58);
    font-weight: 100;
}
.main_img {
    width: 85px;
    margin: 25px auto;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(155, 58, 58);
}
.avatar {
    width: 80px;
    height: auto;
    padding: 1px 4px;
    margin-top: 7px;
    border-radius: 10px;
}
.name-div {
    display: flex;
    justify-content: center;
}
.one_div {
    margin-right: 5px;
    margin-left: 15px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(155, 58, 58);
}
.name {
    border-style: none;
    outline: none;
    padding-left: 10px;
    height: 20px;
}

.input-txt{
    border-style: none;
    outline: none;
    padding: 2px;
    padding-left: 10px;
    width: 170px;
    display: flex;
    align-items: center;
}
.div-border {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    width: 182px;
    margin: 5px auto;
    box-shadow: 5px 5px 5px rgba(155, 58, 58);
}
.div-border-text {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    width: 300px;
    margin: 10px auto;
    box-shadow: 5px 5px 5px rgb(155, 58, 58);
}
.text {
    border-style: none;
    outline: none;
    padding: 2px;
    padding-left: 10px;
    width: 290px;
    display: flex;
    align-items: center;
}
.registration {
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    width: 112px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(155, 58, 58);
}
.btn {
    background-color: white;
    width: 100px;
    height: 35px;
    color: black;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}


@media screen and (max-width: 992px) {
    .container {
        width: 60%;
        margin-left: 20%;
    }
}

@media screen and (max-width: 720px) {
    .nav_menu {
        font-size: 20px;
    }
    .container {
        width: 70%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 480px) {
     .nav_menu {
        font-size: 20px;
    }
    .menu_a {
        margin-right: 15px;
        margin-left: 15px;
    }
    .container {
        width: 90%;
        margin-left: 5%;
    }
}