*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(243, 243, 215);
}
.nav_menu {
    margin-top: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
.menu_li {
    display: inline-block;    
}
.menu_a {
    text-decoration: none;
    color: rgb(155, 58, 58);
    margin-right: 25px;
    margin-left: 25px;
}
.line {
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
    height: 2px;
    background-color: rgb(155, 58, 58); 
}

h1 {
    margin-top: 50px;
    text-align: center;
    color: rgb(155, 58, 58);
    font-family: 'Poppins', sans-serif;
}
p {
    color: rgb(78, 5, 5);
    font-family: 'Poppins', sans-serif;
}
h3 {
    color: rgb(155, 58, 58);
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-align: center;
    color: rgb(155, 58, 58);
    font-family: 'Poppins', sans-serif;
}
.content-photo {
    margin-top: 30px;
    text-align: center;
}
.photo {
    margin-top: 15px;
    width: 527px;
    height: 316px;
    border-radius: 10px;
}
/* arrows */
.container-second {
    position: relative;
    width: 100%;
}
.previous,
.next {
    position: relative;
}
#left {
    position: absolute;
    margin-top: 180px;
    left: 150px;
    padding: 10px 15px;
    background-color: rgb(243, 243, 215);
    border: 1px solid rgb(155, 58, 58); 
    border-radius: 10px;
}
#right {
    position: absolute;
    margin-top: 180px;
    right: 150px;
    padding: 10px 15px;
    background-color: rgb(243, 243, 215);
    border: 1px solid rgb(155, 58, 58); 
    border-radius: 10px;
}
.left,
.right {
    cursor: pointer;
}

/* coldest and hottest places */
.cold_hot {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    margin-top: 50px;
    text-align: center;
    color: rgb(155, 58, 58);
    font-family: 'Poppins', sans-serif;
}
.cold {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}
.hot {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    margin-top: 25px;
}
#eureka, #denali, #ulaanbaatar {
    padding: 10px;
    border: 1px solid rgb(155, 58, 58);
    border-radius: 5px;
    cursor: pointer;
}
#eureka img {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: auto;
    
}
#denali img {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: auto; 
}
#ulaanbaatar img {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: auto; 
}

#azizia, #dallol, #deathValley {
    padding: 10px;
    border: 1px solid rgb(155, 58, 58);
    border-radius: 5px;
    cursor: pointer;
}
#azizia img {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: auto; 
}
#dallol img {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: auto; 
}
#deathValley img {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: auto;
}

/* climate-table */
.climate-table {
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
}
table {
    margin-top: 30px;
    margin-bottom: 50px;
}
table, th, td {
    text-align: center;
    border: 1px solid rgb(155, 58, 58);
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
    color: rgb(155, 58, 58);
}
td {
    padding: 5px;
}
td a {
    text-decoration: none;
    color: rgb(155, 58, 58);
}

@media screen and (max-width:992px) {
    .photo{
        margin-top: 15px;
        width: 450px;
        height: auto;
        border-radius: 10px;
    }
    #left {
        position: absolute;
        margin-top: 170px;
        left: 130px;
        padding: 10px 15px;
        background-color: rgb(243, 243, 215);
        border: 1px solid rgb(155, 58, 58); 
        border-radius: 10px;
    }
    #right {
        position: absolute;
        margin-top: 170px;
        right: 130px;
        padding: 10px 15px;
        background-color: rgb(243, 243, 215);
        border: 1px solid rgb(155, 58, 58); 
        border-radius: 10px;
    }
    .cold_hot {
        width: 90%;
        margin-left: 5%;
    }
    .climate-table {
        width: 80%;
        margin-left: 10%;
    }
}

@media  screen and (max-width: 720px) {
    .nav_menu {
        font-size: 20px;
    }
    .photo{
        margin-top: 15px;
        width: 300px;
        height: auto;
        border-radius: 10px;
    }
    #left {
        position: absolute;
        margin-top: 120px;
        left: 80px;
        padding: 10px 15px;
        background-color: rgb(243, 243, 215);
        border: 1px solid rgb(155, 58, 58); 
        border-radius: 10px;
    }
    #right {
        position: absolute;
        margin-top: 120px;
        right: 80px;
        padding: 10px 15px;
        background-color: rgb(243, 243, 215);
        border: 1px solid rgb(155, 58, 58); 
        border-radius: 10px;
    }
    .cold_hot {
        width: 90%;
        margin-left: 5%;
    }
    #eureka, #denali, #ulaanbaatar {
        padding: 5px;
    }
    #eureka img {
        width: 190px;
        height: auto;
    }
    #denali img {
        width: 190px;
        height: auto; 
    }
    #ulaanbaatar img {
        width: 190px;
        height: auto; 
    }
    
    #azizia, #dallol, #deathValley {
        padding: 5px;
    }
    #azizia img {
        width: 190px;
        height: auto; 
    }
    #dallol img {
        width: 190px;
        height: auto; 
    }
    #deathValley img {
        width: 190px;
        height: auto;
    }
    .climate-table {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 480px){
    .nav_menu {
        font-size: 20px;
    }
    .menu_a {
        margin-right: 15px;
        margin-left: 15px;
    }
    h1 {
        font-size: 25px;
    }
    p {
        margin-left: 15px;
    }
    .photo{
        margin-top: 15px;
        width: 290px;
        height: auto;
        border-radius: 10px;
    }
    #left {
        position: absolute;
        width: 75px;
        margin-top: 125px;
        left: 10px;
        padding: 5px 5px;
        background-color: rgb(243, 243, 215);
        border: 1px solid rgb(155, 58, 58); 
        border-radius: 10px;
    }
    #right {
        position: absolute;
        width: 75px;
        margin-top: 125px;
        right: 10px;
        padding: 5px 5px;
        background-color: rgb(243, 243, 215);
        border: 1px solid rgb(155, 58, 58); 
        border-radius: 10px;
    }
    .cold_hot {
        width: 60%;
        margin-left: 20%;
    }
    .cold {
        flex-direction: column;
    }
    .hot {
        flex-direction: column;;
    }
    .climate-table {
        width: 90%;
        margin-left: 5%;
    }
}